@model IEnumerable<ContosoUniversity.Models.Student>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <th>Last Name</th>
        <th>First Name </th>
        <th>Enrollment Date</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to List", "About")
</p>